<li class="list-group-item">
  <%= link_to t('service.delete'), service, method: :delete, data: {confirm: t('service.are_you_sure', service: service.provider)}, class: 'tag pull-right' %>
  <h1><%= service.provider %></h1>
</li>