/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "editable/bootstrap-editable";
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/scaffolding';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/forms';
@import 'bootstrap/tables';
@import 'bootstrap/dropdowns';
@import 'bootstrap/wells';
@import 'bootstrap/component-animations';
@import 'bootstrap/close';
@import 'bootstrap/buttons';
@import 'bootstrap/button-groups';
@import 'bootstrap/alerts';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/breadcrumbs';
@import 'bootstrap/pagination';
@import 'bootstrap/pager';
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
@import 'bootstrap/popovers';
@import 'bootstrap/thumbnails';
@import 'bootstrap/progress-bars';
@import 'bootstrap/carousel';
@import 'bootstrap/utilities';
@import 'font-awesome';
@import "custom";
@import 'classes';
@import 'projects';
@import 'tasks';
@import "users";
@import 'bootstrap/glyphicons';

#header {
  margin-bottom: 0;
}

div#main-content {
  margin-top: 20px;
}

/* FOOTER */
html, body {
  height: 100%;
}

div#wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -100px;
}

div#push, div#footer {
  height: 100px;
}

div#footer {
  .container .message {
    color: white;
    text-align: center;
  }
}

@media (max-width: 767px) {
  div#footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* FOOTER END */

/* Notifications */
div#notifications {
  margin-top: 25px;
  position: fixed;
  left: 75%;

  h4 {
    margin: 10px 0;
  }

  div.notification {
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-shadow: none;
  }
}
ul.justify-content-end {
  justify-content: flex-end!important;
}
div.language{
  display: flex;
  padding-left: 10px;
  li{
    padding: 15px 0;
    a{
      text-decoration: none;
      color: #8b8f97;
      padding: 15px 5px;
    }
    a:hover {
      color: #ddd;
    }
  }
  li.divider{
    padding: 14px 0;
    color: #fff;

  }
}

form.form-inline div.control-group { display: inline-block; }
form.form-inline div.control-group div.controls { display: inline-block; }

