// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/


body#static-pages {
  .editable-click {
    border-bottom: none; /* Overrides unwanted x-editable styles */
  }
  a#new-project-toggler {
    display: inline-block;

    @extend .span2 !optional;
  }


  div#new-project {
    float: none;
    margin: 25px auto;
    padding: 40px 30px;
    width: 500px;
    form{
      input#project_title{
        margin: 10px;
        width: 300px;
      }
    }
  }

  div.project {
    width: 670px;
    float: none;
    margin: 25px auto;

    div.project-header {
      background-color: #3a87ad;
      padding: 15px 10px;
      border: 1px solid #d9edf7;

      span.calendar {
        color: #222;
        font-size: 22px;
      }

      span.project-name {
        color: white;
        font-size: 22px;
        margin-left: 10px;
      }

      div.project-options {
        span.destroy-project {
          border-left: 1px solid cadetBlue;
          padding-left: 10px;
          margin-left: 5px;
        }
        a {
          color: white;
          font-size: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
