// Place all the styles related to the Projects controllers here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/


body#static-pages {

  .editable-click {
    border-bottom: none; /* Overrides unwanted x-editable styles */
  }
  a#new-project-toggler {
    display: inline-block;

    @extend .span2 !optional;
  }


  div#new-project {
    display: flex;
    margin: 25px auto;
    width: 700px;
    form{
      width: 100%;

      display: flex;
      margin: 40px 10px;
      input.new_project_btn{
        width: 100px !important;
        height: 40px;
      }
      input.new_project_title{
        border: 1px solid #dadada;
        height: 40px;
        padding: 10px;
        vertical-align: top;
        max-width: 220px;
        width: 100%;
        margin-right: 10px;
      }

      label {
        display: flex !important;
        padding-top: 10px;
        width: 150px !important;
      }

    }
  }

  div.project {
    width: 670px;
    float: none;
    margin: 25px auto;

    div.project-header {
      background-color: #3a87ad;
      padding: 15px 10px;
      border: 1px solid #d9edf7;

      span.calendar {
        color: #222;
        font-size: 22px;
      }

      span.project-title {
        color: white;
        font-size: 22px;
        margin-left: 10px;
      }

      div.project-options {
        margin-top: 4px;
        margin-right: 10px;
        span.destroy-project {
          border-left: 1px solid cadetBlue;
          padding-left: 10px;
          margin-left: 5px;
        }
        a {
          color: white;
          font-size: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
