<footer class="page-footer font-small blue">


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.linkedin.com/in/denis-dikiy-604529192">DDA</a>
  </div>


</footer>